@model ProyectoProgramacionAvanzada.Models.LogsEjecucion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LogsEjecucion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.EstadoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarea.TareaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
